<div class="login">
    <div class="login__container">
        <form action="" class="login__container-frm" id="loginForm">
            <img src="/images/instagram.png" alt="Logo-insta" class="login__container-frm-img">
            <p class="message-error"></p>
            <input class="login__container-frm-input" type="text" name="username" placeholder="Nhập tên tài khoản"
                autocomplete="username">
            <input class="login__container-frm-input" type="password" name="password"
                placeholder="Nhập mật khẩu của bạn" autocomplete="current-password">
            <button class="login__container-frm-btn">Đăng nhập</button>
            <a href="" class="login__container-frm-link">Quên mật khẩu ?</a>
        </form>
        <div class="login__container-register">
            <a href="/register" class="login__container-register-link">Tạo tài khoản mới</a>
        </div>

        <div class="login__container-download">
            <h4 class="login__container-download-title">Tải về tại:</h4>
            <div class="login__container-download-link">
                <a href="">
                    <img src="/images/google-play.png" alt="google-play" class="login__container-download-icon">
                </a>
                <a href="">
                    <img src="/images/microsoft.png" alt="microsoft" class="login__container-download-icon">
                </a>
            </div>
        </div>
    </div>
    <footer class="login__footer">

    </footer>
</div>