<div class="login">
    <div class="login__container">
        <form action="" class="login__container-frm" id="registerForm">
            <img src="/images/instagram.png" alt="Logo-insta" class="login__container-frm-img">
            <p class="message-error"></p>
            <input class="login__container-frm-input" type="text" name="username" placeholder="Nhập tên tài khoản"
                autocomplete="username">
            <input class="login__container-frm-input" type="text" name="phoneNumber"
                placeholder="Nhập số điện thoại của bạn" autocomplete="cc-number">
            <input class="login__container-frm-input" type="email" name="email" placeholder="Nhập email của bạn"
                autocomplete="email">
            <input class="login__container-frm-input" type="password" name="password"
                placeholder="Nhập mật khẩu của bạn" autocomplete="new-password">
            <input class="login__container-frm-input" type="password" name="password-confirm"
                placeholder="Nhập lại mật khẩu của bạn" autocomplete="new-password">
            <button class="login__container-frm-btn" id="submit-btn" style="margin-bottom: 32px;">Đăng ký</button>
        </form>

        <div class="login__container-register">
            <span class="register__title">Bạn đã có tài khoản Instagram:</span>
            <a href="/login" class="login__container-frm-link">Đăng nhập ngay !!!</a>
        </div>

    </div>
</div>