/* Media Queries */
@media (max-width: 767px) {
    .header__buttons--desktop {
        display: none;
    }

    /* Fix post medias indicators bugs on mobile */
    .post__medias {
        gap: 1px;
    }

}

@media (min-width: 620px) {
    .content-container {
        padding: 30px 0 24px;
    }

    .content {
        gap: 24px;
    }

    .stories {
        border: 1px solid var(--border);
        border-radius: 4px;
    }

    .stories::after {
        content: none;
    }

    .posts {
        gap: 24px;
    }

    .post {
        border: 1px solid var(--border);
        border-radius: 4px;
    }

    .post__footer {
        padding: 4px 8px 12px;
    }

    .post__date-time {
        margin-top: 6px;
    }
}

@media (min-width: 768px) {
    :root {
        --header-height: 54px;
        --nav-height: 0px;
    }

    .header__content {
        padding: 0 20px;
    }

    .header__search {
        display: flex;
    }

    .header__buttons--mobile {
        display: none;
    }

    .navbar {
        display: none;
    }
}

@media (min-width: 1024px) {
    .main-container {
        background-color: var(--secondary);
    }

    .content {
        margin: unset;
    }

    .side-menu {
        display: flex;
    }
}